<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
        >
    <testsuites>
        <testsuite name="all">
            <!--<directory>tests/</directory>-->
            <!--<file>./tests/SaRTest.php</file>-->
            <!--<file>./tests/Relations2Test.php</file>-->
            <!--<file>./tests/ConnectionTest.php</file>-->
            <file>./tests/QueueTest.php</file>
            <!--<file>./tests/QueryBuilderTest.php</file>-->
            <!--<file>./tests/QueryTest.php</file>-->
        </testsuite>
    </testsuites>
</phpunit>
